app-home-page {
  .about-content {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: rgba(131, 131, 131, 1);
    line-height: 21px;
    margin-top: 30px;
  }
}
#what-do-we-do {
  .item:hover .item__link {
    color: #FFFFFF;
  }
  .item__link:hover {
    color: #FFFFFF;
  }
}
