<mat-card class="hero-card" id="loading-card">
    <mat-card-header>
        <div class="hero-header__image" mat-card-avatar></div>
        <mat-card-title>
            <app-loading-placeholder [height]="'1rem'" [width]="'200px'"></app-loading-placeholder>
        </mat-card-title>
        <mat-card-subtitle>
            <app-loading-placeholder [height]="'1rem'" [width]="'160px'"></app-loading-placeholder>
        </mat-card-subtitle>
        <div class="flex-spacer"></div>
        <div class="hero-actions">
            <mat-icon class="icon__like--grey">favorite</mat-icon>
        </div>
    </mat-card-header>
    <app-loading-placeholder [height]="'486px'"></app-loading-placeholder>
</mat-card>

