<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-about">
                    <div class="title">{{"FOOT.ABOUT"|translate}}</div>
                    <p class="content">{{"FOOT.BLOCKCHAIN_CENTRE"|translate}}</p>
                </div>
                <div class="col-lg-4 col-md-6 footer-contact">
                    <div class="title">{{"FOOT.QUICK_LINKS"|translate}}</div>
                    <div class="link">
                        <div class="row">
                            <!-- <div class="col-6"><a routerLink="news">{{"HEADER.NEWS"|translate}}</a></div> -->
                            <div class="col-6"><a routerLink="events">{{"HEADER.EVENTS"|translate}}</a></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><a routerLink="courses">{{"HEADER.EDUCATION"|translate}}</a></div>
                            <div class="col-6"><a routerLink="incubator">{{"HEADER.INCUBATOR"|translate}}</a></div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-6"><a routerLink="exhibition">{{"HEADER.EXHIBITION"|translate}}</a></div>
                        </div> -->
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <div class="title">{{"FOOT.CONTACT_US"|translate}}</div>
                    <p class="content">
                        <a href='mailto:{{"FOOT.EMAIL"|translate}}' target="_blank">{{"FOOT.EMAIL"|translate}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 copy">
                <img src="assets/images/logo/logo.png" style="margin-top: 16px;margin-right: 41px;">
                <span>&copy; {{"FOOT.COPY" |translate}}</span>
            </div>
            <div class="col-md-6 social-shares">
                <a href="https://twitter.com/blockchaincent8" target="_blank">
                    <i style="font-size: 30px; margin-right: 15px"  class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <!-- <a href="https://weibo.com/blockchaincentre?topnav=1&wvr=6&topsug=1" target="_blank">
                    <img src="assets/images/share/weibo@2x.png">
                </a> -->
                <a href="https://www.linkedin.com/company/blockchain-centre-new-delhi/" target="_blank">
                    <i style="font-size: 30px; margin-right: 15px" class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://t.me/blockchaincentrenewdelhi" target="_blank">
                    <i style="font-size: 30px; " class="fa fa-telegram" aria-hidden="true"></i>
                </a>
                <!-- <div class="wechat">
                    <img src="assets/images/share/weixin@2x.png">
                    <img class="qrcode" src="assets/images/share/wechat-qr.png" alt="微信二维码">
                </div> -->
            </div>

        </div>
    </div>
</footer><!-- #footer -->
